/* CSS 초기화 */
@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

/* Common */
body {
  background-color: black;
  font-family: "Segoe UI";
  font-size: 14px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

/* 박스의 크기를 정하는 기준: 테두리를 기준으로 */
input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

form {
  width: 100%;
}

/* Auth.js */
.authContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 155px;
  background: white;
  cursor: pointer;
}


/* Home.js */
.homeForm__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.homeForm {
  display: flex;
  flex-direction: column;
  /*버튼 정렬을 위 아래로 하려고 위에 속성 추가*/
  align-items: center;
  width: 100%;
}

.homeForm__input {
  flex-grow: 1;
  width: 170px;
  height: 40px;
  padding: 10px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  margin: 10px;
}

.homeForm__btn {
  position: absolute;
  right: 0;
  background-color: #04aaff;
  height: 40px;
  width: 40px;
  margin-top: 7px;
  padding: 10px 0;
  text-align: center;
  border-radius: 20px;
  color: white;
}

/*.tweets__container {*/
/*  text-align: center;*/
/*  width: 300px;*/
/*  margin: auto;*/
/*}*/

/*.tweet__container {*/
/*  margin: 10px;*/
/*  border: 1px solid white;*/
/*  padding: 10px;*/
/*}*/

/* Tweet.js */
.tweet__Container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.tweetForm .tweetForm__btn {
  cursor: pointer;
}

.tweetForm__input {

}

.tweetForm__btn {
  cursor: pointer;
  background: darkolivegreen;
  border: none;
  color: white;
  padding: 8px;
  text-decoration: none;
  margin-bottom: 5px;
  color: black;
}

.tweetHome__btn {
  cursor: pointer;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*Home.js*/
/*.container {*/
/*  margin: 0px auto;*/
/*}*/